@import url("https://use.typekit.net/ecx4dbs.css");

* {

}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: #bf3432;
  color: orange;
  font-family: bello-caps, sans-serif;
  font-weight: 100;
  font-style: normal;
  overflow: hidden;
}

.content {
  font-size:4vw;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
}

.mov-container {
  width: 100%;
  margin: 0 auto;
  overflow: scroll;
  height: 100vh;
  max-width: 720px;
}

.tropical-gothic {
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: scroll;
}

video {
  padding: 0;
  margin: 0;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}
